* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
}
main {
  border-radius: 5px;
  background-color: rgb(220, 228, 231);
  width: 300px;
  margin-inline: auto;
  margin-top: 50px;
  text-align: center;
}
.text {
  width: 100%;
}
a {
  color: purple;
}
.dancing {
  width: 100%;
}
p {
  color: hsl(224, 23%, 55%);
  font-size: 14px;
}
button {
  padding: 10px;
}
.order {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  margin: 10px;
  border-radius: 5px;
  align-items: center;
}
.annual {
  margin-right: 60px;
  /* margin-top: 5px; */
}
.order h2 {
  font-size: 16.5px;
}
.order p {
  font-size: 12px;
}
.but1 {
  background-color: blue;
  border: 0;
}
h2 {
  margin-right: 70px;
}
.but2 {
  border: 0px;
  width: 100px;
  margin-top: 10px;
  border-radius: 20px;
}
button:hover {
  color: aqua;
  transition: all is ease;
  opacity: 1;
  transform: scale(0.9);
}
